In [1]:
import numpy as np
import pandas as pd
import fun
from fun import d

In [20]:
mas=pd.read_csv("new_b.csv")

In [21]:
mas

      Mv   r1_2   dist   Vhel  sigma  Fe_H  sigFe_H
0  -8.88  231.0   82.0 -290.7    9.1 -2.00     0.34
1  -9.45  311.0  106.0  222.9    6.6 -1.80     0.24
2  -9.03  405.0   76.0 -247.2    9.5 -2.12     0.33
3 -11.78  270.0  254.0  282.9    9.2 -1.48     0.26
4  -9.74  171.0  233.0   78.3    7.4 -1.68     0.34
5  -8.94  456.0   95.0  224.3    7.9 -1.97     0.38
6 -13.34  792.0  139.0   55.2   11.7 -1.07     0.27
7 -10.82  279.0   86.0  111.4    9.2 -1.73     0.44

In [22]:
Mv_error = pd.DataFrame({'Mv_error': [(-0.05,0.05),(-0.05,0.05),(-0.05,0.05),(-0.28,0.28),(-0.04,0.04),(-0.06,0.06),(-0.14,0.14),(-0.14,0.14)]})
r1_2_error = pd.DataFrame({'r1_2_error': [(-17,17),(-15,15),(-21,21),(-16,17),(-10,10),(-15,15),(-18,18),(-16,16)]})
dist_error = pd.DataFrame({'dist_error': [(-6.0,6.0),(-5.0,5.0),(-4.0,4.0),(-15.0,16.0),(-14.0,14.0),(-3.0,3.0),(-3.0,3.0),(-5.0,5.0)]})
Vhel_error = pd.DataFrame({'Vhel_error': [(-0.8,0.7),(-0.1,0.1),(-0.8,0.8),(-0.5,0.5),(-0.6,0.6),(-0.1,0.1),(-0.1,0.1),(-0.1,0.1)]})
sigma_error = pd.DataFrame({'sigma_error': [(-1.2,1.2),(-1.2,1.2),(-1.2,1.2),(-0.4,0.4),(-0.4,0.4),(-1.3,1.3),(-0.9,0.9),(-1.1,1.1)]})
Fe_H_error = pd.DataFrame({'Fe_H_error': [(-0.02,0.02),(-0.02,0.02),(-0.02,0.03),(-0.01,0.02),(-0.03,0.02),(-0.04,0.04),(-0.01,0.02),(-0.02,0.03)]})
sigFe_H_error = pd.DataFrame({'sigFe_H_error': [(-0.02,0.02),'NAN',(-0.03,0.02),(-0.01,0.01),(-0.02,0.02),(-0.03,0.03),(-0.01,0.01),(-0.02,0.02)]})

In [23]:
a=mas.join(Mv_error)
a

      Mv   r1_2   dist   Vhel  sigma  Fe_H  sigFe_H       Mv_error
0  -8.88  231.0   82.0 -290.7    9.1 -2.00     0.34  (-0.05, 0.05)
1  -9.45  311.0  106.0  222.9    6.6 -1.80     0.24  (-0.05, 0.05)
2  -9.03  405.0   76.0 -247.2    9.5 -2.12     0.33  (-0.05, 0.05)
3 -11.78  270.0  254.0  282.9    9.2 -1.48     0.26  (-0.28, 0.28)
4  -9.74  171.0  233.0   78.3    7.4 -1.68     0.34  (-0.04, 0.04)
5  -8.94  456.0   95.0  224.3    7.9 -1.97     0.38  (-0.06, 0.06)
6 -13.34  792.0  139.0   55.2   11.7 -1.07     0.27  (-0.14, 0.14)
7 -10.82  279.0   86.0  111.4    9.2 -1.73     0.44  (-0.14, 0.14)

In [24]:
b=a.join(r1_2_error)
b

      Mv   r1_2   dist   Vhel  sigma  Fe_H  sigFe_H       Mv_error r1_2_error
0  -8.88  231.0   82.0 -290.7    9.1 -2.00     0.34  (-0.05, 0.05)  (-17, 17)
1  -9.45  311.0  106.0  222.9    6.6 -1.80     0.24  (-0.05, 0.05)  (-15, 15)
2  -9.03  405.0   76.0 -247.2    9.5 -2.12     0.33  (-0.05, 0.05)  (-21, 21)
3 -11.78  270.0  254.0  282.9    9.2 -1.48     0.26  (-0.28, 0.28)  (-16, 17)
4  -9.74  171.0  233.0   78.3    7.4 -1.68     0.34  (-0.04, 0.04)  (-10, 10)
5  -8.94  456.0   95.0  224.3    7.9 -1.97     0.38  (-0.06, 0.06)  (-15, 15)
6 -13.34  792.0  139.0   55.2   11.7 -1.07     0.27  (-0.14, 0.14)  (-18, 18)
7 -10.82  279.0   86.0  111.4    9.2 -1.73     0.44  (-0.14, 0.14)  (-16, 16)

In [25]:
c=b.join(dist_error)
c

,Mv,r1_2,dist,Vhel,sigma,Fe_H,sigFe_H,Mv_error,r1_2_error,dist_error
0,-8.88,231.0,82.0,-290.7,9.1,-2.00,0.34,"(-0.05, 0.05)","(-17, 17)","(-6.0, 6.0)"
1,-9.45,311.0,106.0,222.9,6.6,-1.80,0.24,"(-0.05, 0.05)","(-15, 15)","(-5.0, 5.0)"
2,-9.03,405.0,76.0,-247.2,9.5,-2.12,0.33,"(-0.05, 0.05)","(-21, 21)","(-4.0, 4.0)"
3,-11.78,270.0,254.0,282.9,9.2,-1.48,0.26,"(-0.28, 0.28)","(-16, 17)","(-15.0, 16.0)"
4,-9.74,171.0,233.0,78.3,7.4,-1.68,0.34,"(-0.04, 0.04)","(-10, 10)","(-14.0, 14.0)"
5,-8.94,456.0,95.0,224.3,7.9,-1.97,0.38,"(-0.06, 0.06)","(-15, 15)","(-3.0, 3.0)"
6,-13.34,792.0,139.0,55.2,11.7,-1.07,0.27,"(-0.14, 0.14)","(-18, 18)","(-3.0, 3.0)"
7,-10.82,279.0,86.0,111.4,9.2,-1.73,0.44,"(-0.14, 0.14)","(-16, 16)","(-5.0, 5.0)"

In [26]:
e=c.join(Vhel_error)
e

,Mv,r1_2,dist,Vhel,sigma,Fe_H,sigFe_H,Mv_error,r1_2_error,dist_error,Vhel_error
0,-8.88,231.0,82.0,-290.7,9.1,-2.00,0.34,"(-0.05, 0.05)","(-17, 17)","(-6.0, 6.0)","(-0.8, 0.7)"
1,-9.45,311.0,106.0,222.9,6.6,-1.80,0.24,"(-0.05, 0.05)","(-15, 15)","(-5.0, 5.0)","(-0.1, 0.1)"
2,-9.03,405.0,76.0,-247.2,9.5,-2.12,0.33,"(-0.05, 0.05)","(-21, 21)","(-4.0, 4.0)","(-0.8, 0.8)"
3,-11.78,270.0,254.0,282.9,9.2,-1.48,0.26,"(-0.28, 0.28)","(-16, 17)","(-15.0, 16.0)","(-0.5, 0.5)"
4,-9.74,171.0,233.0,78.3,7.4,-1.68,0.34,"(-0.04, 0.04)","(-10, 10)","(-14.0, 14.0)","(-0.6, 0.6)"
5,-8.94,456.0,95.0,224.3,7.9,-1.97,0.38,"(-0.06, 0.06)","(-15, 15)","(-3.0, 3.0)","(-0.1, 0.1)"
6,-13.34,792.0,139.0,55.2,11.7,-1.07,0.27,"(-0.14, 0.14)","(-18, 18)","(-3.0, 3.0)","(-0.1, 0.1)"
7,-10.82,279.0,86.0,111.4,9.2,-1.73,0.44,"(-0.14, 0.14)","(-16, 16)","(-5.0, 5.0)","(-0.1, 0.1)"

In [27]:
f=e.join(sigma_error)
f

,Mv,r1_2,dist,Vhel,sigma,Fe_H,sigFe_H,Mv_error,r1_2_error,dist_error,Vhel_error,sigma_error
0,-8.88,231.0,82.0,-290.7,9.1,-2.00,0.34,"(-0.05, 0.05)","(-17, 17)","(-6.0, 6.0)","(-0.8, 0.7)","(-1.2, 1.2)"
1,-9.45,311.0,106.0,222.9,6.6,-1.80,0.24,"(-0.05, 0.05)","(-15, 15)","(-5.0, 5.0)","(-0.1, 0.1)","(-1.2, 1.2)"
2,-9.03,405.0,76.0,-247.2,9.5,-2.12,0.33,"(-0.05, 0.05)","(-21, 21)","(-4.0, 4.0)","(-0.8, 0.8)","(-1.2, 1.2)"
3,-11.78,270.0,254.0,282.9,9.2,-1.48,0.26,"(-0.28, 0.28)","(-16, 17)","(-15.0, 16.0)","(-0.5, 0.5)","(-0.4, 0.4)"
4,-9.74,171.0,233.0,78.3,7.4,-1.68,0.34,"(-0.04, 0.04)","(-10, 10)","(-14.0, 14.0)","(-0.6, 0.6)","(-0.4, 0.4)"
5,-8.94,456.0,95.0,224.3,7.9,-1.97,0.38,"(-0.06, 0.06)","(-15, 15)","(-3.0, 3.0)","(-0.1, 0.1)","(-1.3, 1.3)"
6,-13.34,792.0,139.0,55.2,11.7,-1.07,0.27,"(-0.14, 0.14)","(-18, 18)","(-3.0, 3.0)","(-0.1, 0.1)","(-0.9, 0.9)"
7,-10.82,279.0,86.0,111.4,9.2,-1.73,0.44,"(-0.14, 0.14)","(-16, 16)","(-5.0, 5.0)","(-0.1, 0.1)","(-1.1, 1.1)"

In [28]:
g=f.join(Fe_H_error)
g

,Mv,r1_2,dist,Vhel,sigma,Fe_H,sigFe_H,Mv_error,r1_2_error,dist_error,Vhel_error,sigma_error,Fe_H_error
0,-8.88,231.0,82.0,-290.7,9.1,-2.00,0.34,"(-0.05, 0.05)","(-17, 17)","(-6.0, 6.0)","(-0.8, 0.7)","(-1.2, 1.2)","(-0.02, 0.02)"
1,-9.45,311.0,106.0,222.9,6.6,-1.80,0.24,"(-0.05, 0.05)","(-15, 15)","(-5.0, 5.0)","(-0.1, 0.1)","(-1.2, 1.2)","(-0.02, 0.02)"
2,-9.03,405.0,76.0,-247.2,9.5,-2.12,0.33,"(-0.05, 0.05)","(-21, 21)","(-4.0, 4.0)","(-0.8, 0.8)","(-1.2, 1.2)","(-0.02, 0.03)"
3,-11.78,270.0,254.0,282.9,9.2,-1.48,0.26,"(-0.28, 0.28)","(-16, 17)","(-15.0, 16.0)","(-0.5, 0.5)","(-0.4, 0.4)","(-0.01, 0.02)"
4,-9.74,171.0,233.0,78.3,7.4,-1.68,0.34,"(-0.04, 0.04)","(-10, 10)","(-14.0, 14.0)","(-0.6, 0.6)","(-0.4, 0.4)","(-0.03, 0.02)"
5,-8.94,456.0,95.0,224.3,7.9,-1.97,0.38,"(-0.06, 0.06)","(-15, 15)","(-3.0, 3.0)","(-0.1, 0.1)","(-1.3, 1.3)","(-0.04, 0.04)"
6,-13.34,792.0,139.0,55.2,11.7,-1.07,0.27,"(-0.14, 0.14)","(-18, 18)","(-3.0, 3.0)","(-0.1, 0.1)","(-0.9, 0.9)","(-0.01, 0.02)"
7,-10.82,279.0,86.0,111.4,9.2,-1.73,0.44,"(-0.14, 0.14)","(-16, 16)","(-5.0, 5.0)","(-0.1, 0.1)","(-1.1, 1.1)","(-0.02, 0.03)"

In [29]:
h=g.join(sigFe_H_error)
h

,Mv,r1_2,dist,Vhel,sigma,Fe_H,sigFe_H,Mv_error,r1_2_error,dist_error,Vhel_error,sigma_error,Fe_H_error,sigFe_H_error
0,-8.88,231.0,82.0,-290.7,9.1,-2.00,0.34,"(-0.05, 0.05)","(-17, 17)","(-6.0, 6.0)","(-0.8, 0.7)","(-1.2, 1.2)","(-0.02, 0.02)","(-0.02, 0.02)"
1,-9.45,311.0,106.0,222.9,6.6,-1.80,0.24,"(-0.05, 0.05)","(-15, 15)","(-5.0, 5.0)","(-0.1, 0.1)","(-1.2, 1.2)","(-0.02, 0.02)",NAN
2,-9.03,405.0,76.0,-247.2,9.5,-2.12,0.33,"(-0.05, 0.05)","(-21, 21)","(-4.0, 4.0)","(-0.8, 0.8)","(-1.2, 1.2)","(-0.02, 0.03)","(-0.03, 0.02)"
3,-11.78,270.0,254.0,282.9,9.2,-1.48,0.26,"(-0.28, 0.28)","(-16, 17)","(-15.0, 16.0)","(-0.5, 0.5)","(-0.4, 0.4)","(-0.01, 0.02)","(-0.01, 0.01)"
4,-9.74,171.0,233.0,78.3,7.4,-1.68,0.34,"(-0.04, 0.04)","(-10, 10)","(-14.0, 14.0)","(-0.6, 0.6)","(-0.4, 0.4)","(-0.03, 0.02)","(-0.02, 0.02)"
5,-8.94,456.0,95.0,224.3,7.9,-1.97,0.38,"(-0.06, 0.06)","(-15, 15)","(-3.0, 3.0)","(-0.1, 0.1)","(-1.3, 1.3)","(-0.04, 0.04)","(-0.03, 0.03)"
6,-13.34,792.0,139.0,55.2,11.7,-1.07,0.27,"(-0.14, 0.14)","(-18, 18)","(-3.0, 3.0)","(-0.1, 0.1)","(-0.9, 0.9)","(-0.01, 0.02)","(-0.01, 0.01)"
7,-10.82,279.0,86.0,111.4,9.2,-1.73,0.44,"(-0.14, 0.14)","(-16, 16)","(-5.0, 5.0)","(-0.1, 0.1)","(-1.1, 1.1)","(-0.02, 0.03)","(-0.02, 0.02)"

In [30]:
h.sigFe_H_error[1]

'NAN'

In [31]:
h

,Mv,r1_2,dist,Vhel,sigma,Fe_H,sigFe_H,Mv_error,r1_2_error,dist_error,Vhel_error,sigma_error,Fe_H_error,sigFe_H_error
0,-8.88,231.0,82.0,-290.7,9.1,-2.00,0.34,"(-0.05, 0.05)","(-17, 17)","(-6.0, 6.0)","(-0.8, 0.7)","(-1.2, 1.2)","(-0.02, 0.02)","(-0.02, 0.02)"
1,-9.45,311.0,106.0,222.9,6.6,-1.80,0.24,"(-0.05, 0.05)","(-15, 15)","(-5.0, 5.0)","(-0.1, 0.1)","(-1.2, 1.2)","(-0.02, 0.02)",NAN
2,-9.03,405.0,76.0,-247.2,9.5,-2.12,0.33,"(-0.05, 0.05)","(-21, 21)","(-4.0, 4.0)","(-0.8, 0.8)","(-1.2, 1.2)","(-0.02, 0.03)","(-0.03, 0.02)"
3,-11.78,270.0,254.0,282.9,9.2,-1.48,0.26,"(-0.28, 0.28)","(-16, 17)","(-15.0, 16.0)","(-0.5, 0.5)","(-0.4, 0.4)","(-0.01, 0.02)","(-0.01, 0.01)"
4,-9.74,171.0,233.0,78.3,7.4,-1.68,0.34,"(-0.04, 0.04)","(-10, 10)","(-14.0, 14.0)","(-0.6, 0.6)","(-0.4, 0.4)","(-0.03, 0.02)","(-0.02, 0.02)"
5,-8.94,456.0,95.0,224.3,7.9,-1.97,0.38,"(-0.06, 0.06)","(-15, 15)","(-3.0, 3.0)","(-0.1, 0.1)","(-1.3, 1.3)","(-0.04, 0.04)","(-0.03, 0.03)"
6,-13.34,792.0,139.0,55.2,11.7,-1.07,0.27,"(-0.14, 0.14)","(-18, 18)","(-3.0, 3.0)","(-0.1, 0.1)","(-0.9, 0.9)","(-0.01, 0.02)","(-0.01, 0.01)"
7,-10.82,279.0,86.0,111.4,9.2,-1.73,0.44,"(-0.14, 0.14)","(-16, 16)","(-5.0, 5.0)","(-0.1, 0.1)","(-1.1, 1.1)","(-0.02, 0.03)","(-0.02, 0.02)"

In [19]:
h[:0]

Empty DataFrame
Columns: [Mv, r1_2, dist, Vhel, sigma, Fe_H, sigFe_h, Mv_error, r1_2_error, dist_error, Vhel_error, sigma_error, Fe_H_error, sigFe_H_error]
Index: []